In [6]:
import xarray as xr
import numpy  as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import pymannkendall as mk

In [7]:
# time series dir: /raid52/yycheng/MPAS/REFERENCE/CMORPH/DAILY/spatialmean
# year   = "2003"
dirin  = "/raid52/yycheng/MPAS/REFERENCE/CN05.1/1961-2014" 
filein = "sel_CM05.1.nc"
ds_disk = xr.open_dataset(dirin + "/" + filein)
ds_disk

<xarray.Dataset>
Dimensions:  (lat: 160, lon: 280, time: 8262)
Coordinates:
  * time     (time) datetime64[ns] 1961-04-01 1961-04-02 ... 2014-08-31
  * lon      (lon) float32 70.125 70.375 70.625 ... 139.375 139.625 139.875
  * lat      (lat) float32 15.125 15.375 15.625 15.875 ... 54.375 54.625 54.875
Data variables:
    pre      (time, lat, lon) float32 ...
Attributes:
    CDI:          Climate Data Interface version 1.9.2 (http://mpimet.mpg.de/...
    Conventions:  CF-1.4
    history:      Thu Jan 21 18:46:56 2021: cdo -L -remapbil,grid_info -selmo...
    CDO:          Climate Data Operators version 1.9.2 (http://mpimet.mpg.de/...

In [8]:
# ds_disk['pre'].sel(time="1964")
# time_idx = pd.date_range(start = "2003-04", end = "2003-08",freq='m')
# time_idx = pd.period_range(start = "2004-04-01", end = "2004-08-01",freq='m')
# time_idx.month
# ds_disk.sel(time=time_idx)
# for i in ds_disk['time.year']:
lc  = ds_disk.lon
la  = ds_disk.lat
time= ds_disk.time
# ds_disk.coords
select_dict = {}
# select_dict = dict(time = (ds_disk.time.dt.year==2003) & (ds_disk.time.dt.month==4))
# time 使用这个也可
# select_dict['time']=time[(time.dt.year==2003) & (time.dt.month==4)]

select_dict['time']=(ds_disk.time.dt.year==2003) & (ds_disk.time.dt.month==4)
select_dict['lon'] = lc[(lc > 70) & (lc < 110)]
select_dict['lat'] = la[(la > 20) & (la < 60) ]
ds_disk['pre'].loc[select_dict]


# time_idx   
# ds_disk['pre'].sel(time = time_idx)
# ds_disk.time

<xarray.DataArray 'pre' (time: 30, lat: 140, lon: 160)>
[672000 values with dtype=float32]
Coordinates:
  * time     (time) datetime64[ns] 2003-04-01 2003-04-02 ... 2003-04-30
  * lon      (lon) float32 70.125 70.375 70.625 ... 109.375 109.625 109.875
  * lat      (lat) float32 20.125 20.375 20.625 20.875 ... 54.375 54.625 54.875
Attributes:
    long_name:  CN05.1 daily, precipitation,mm/day                           ...

In [9]:
ds_disk['pre'].time[ds_disk.time.dt.month==4]

<xarray.DataArray 'time' (time: 1620)>
array(['1961-04-01T00:00:00.000000000', '1961-04-02T00:00:00.000000000',
       '1961-04-03T00:00:00.000000000', ..., '2014-04-28T00:00:00.000000000',
       '2014-04-29T00:00:00.000000000', '2014-04-30T00:00:00.000000000'],
      dtype='datetime64[ns]')
Coordinates:
  * time     (time) datetime64[ns] 1961-04-01 1961-04-02 ... 2014-04-30
Attributes:
    standard_name:  time
    axis:           T

In [10]:
(ds_disk.time.dt.year==2003) & (ds_disk.time.dt.month==4)

<xarray.DataArray (time: 8262)>
array([False, False, False, ..., False, False, False])
Coordinates:
  * time     (time) datetime64[ns] 1961-04-01 1961-04-02 ... 2014-08-31

In [34]:
ds_disk.groupby('lat')

DatasetGroupBy, grouped over 'lat'
160 groups with labels 15.125, 15.375, ..., 54.875.